!!! 5
%html
  %head
    %title Rotten Potatoes !
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    -# this goes just inside %body:
    %div#banner
      %a(title= 'Rotten Potatoes'){:href =>'/'} Rotten Potatoes
    - if flash[:notice]
      #notice.message= flash[:notice]
    - if flash[:warning]
      #warning.message= flash[:warning]
    = yield
